@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,500;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

.Containner{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(30, 38%, 92%);
}



.Text1{
    display: flex;
    letter-spacing: 5px;
    padding-top: 30px;
    padding-left: 35px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
}

.Central{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 12px;
    line-height: 45px;
    text-align: start;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 100px;
    color: hsl(212, 21%, 14%);
}




#img{
    width: 330px;
    border-top-left-radius: 10px;
    border-end-start-radius:10px;
    margin-top: 4px;
}

.Feqa4{
    width: 350px;
    height: 495px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}

.Central2{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    line-height: 27px;
    flex-direction: column;
    margin-top: 15px;
    text-align: start;
    padding-left: 30px;
    padding-right: 60px;
    color: hsl(228, 12%, 48%);
}

.Values1{
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 15px;
    padding-left: 30px;
}

#Valor{
    color: hsl(158, 36%, 37%);
    font-size: 37px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-align: start;
}

#Valor2{
    text-decoration: line-through;
    padding-left: 25px;
    opacity: 0.6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}


.Cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.Cart1, #Cart2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 50px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    cursor: pointer;
}


#Letter{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

#img2{
    padding-right: 13px;

}

#Cart2:hover{
    background-color: hsl(159, 83%, 14%);
}